@import url('../css/font.css');

/*:root{

    --Anton:'Anton';  used to define the variables in CSS.
}*/

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: teal;
}
h1{
    font-family: Oswald;
    font-size: 2.5rem;
}
h3{
    font-size: 1.3rem;
    font-family: Open_Sans_Condensed;
}
button.btn-blog{
    padding: .6rem 2rem;
    background: lightseagreen;
    border: 1px solid black;
    border-radius: 2rem;
    padding: .6rem 2rem;
    margin: .5rem;
    cursor: pointer;
}
.container{
    margin: 0 5vw;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.nav{
    background: black;
    padding: 0.2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 95%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: rgb(17, 16, 16);
}

.collapse{
    height: 25rem;
}

.nav .nav-items{
    display: flex ;
    margin: 0%;
    font-family: Chilanka;
}
.nav .nav-items .nav-link{
    padding: 1.5rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: darkcyan;
}
.nav .nav-items .nav-link:hover a{
    color: darkgrey;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    display: block;
    font-family: Anton;
   /*font-family: var(--Anton);*/ 
}

.nav .social{
    padding: 1.4rem 0
}
.nav .social i{
    padding: 0 .2rem;
}
.nav .social i:hover{
    color: red;
}

/*main Site title Css*/
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 113vh;
    display: flex;
    justify-content: center;

}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: blanchedalmond;
}
main .site-title h1,h3{
    margin: 0.3rem;
}
main .site-title .btn{
    margin: 1.8rem;
    background-color:lightskyblue;
    border: 1px solid lightyellow;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: Helvetica;
    cursor: pointer;
}

main .site-title .btn:hover{
    background: transparent;
    color: white;
}

/* Owl - Carousel*/
main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post{
    padding-top: 5.5rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    height: 75%;
    margin: 3rem 2rem;
    box-shadow:10px 15px 20px gray;
}
main .blog-content .blog-title{
    padding: 1rem 0; 
}
main .blog-content span{
    display: block;
}
/*End*/
/*End*/

 @media only screen and (max-width: 750px){
    
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    .nav .toggle-collapse .toggle-icons i{
        color: whitesmoke;
    } 
 }