@import url('../css/font.css');

/*:root{

    --Anton:'Anton';  used to define the variables in CSS.
}*/

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: teal;
}
hr{
    margin-bottom: 2rem;
}
h1{
    font-family: Oswald;
    font-size: 2.5rem;
}
h3{
    font-size: 1.3rem;
    font-family: Open_Sans_Condensed;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
button.btn-blog{
    padding: .6rem 2rem;
    background: lightseagreen;
    border: 1px solid black;
    border-radius: 2rem;
    padding: .6rem 2rem;
    margin: .5rem;
    cursor: pointer;
    outline: none;
}
.container{
    margin: 0 5vw;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.nav{
    background: black;
    padding: 0.2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 95%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: rgb(17, 16, 16);
}

.collapse{
    height: 25rem;
}

.nav .nav-items{
    display: flex ;
    margin: 0%;
    font-family: Chilanka;
}
.nav .nav-items .nav-link{
    padding: 1.5rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: darkcyan;
}
.nav .nav-items .nav-link:hover a{
    color: darkgrey;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    display: block;
    font-family: Anton;
   /*font-family: var(--Anton);*/ 
}

.nav .social{
    padding: 1.4rem 0
}
.nav .social i{
    padding: 0 .2rem;
}
.nav .social .fb:hover{
    color: blue;
    cursor: pointer;
}
.nav .social .tw:hover{
    color: blue;
    cursor: pointer;
}
.nav .social .in:hover{
    color: rgb(189, 72, 72);
    cursor: pointer;
}
.nav .social .yo:hover{
    color: red;
    cursor: pointer;
}
/*main Site title Css*/
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 113vh;
    display: flex;
    justify-content: center;

}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: blanchedalmond;
}
main .site-title h1,h3{
    margin: 0.3rem;
}
main .site-title .btn{
    margin: 1.8rem;
    background-color:lightskyblue;
    outline: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: Helvetica;
    cursor: pointer;
}

main .site-title .btn:hover{
    background: transparent;
    color: white;
}

/* Owl - Carousel*/
main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post{
    padding-top: 5.5rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    height: 75%;
    margin: 3rem 2rem;
    box-shadow:10px 15px 20px gray;
}
main .blog-content .blog-title{
    padding: 1rem 0; 
}
main .blog-content span{
    display: block;
}
/*End carousel*/

/*site content */

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
main .post-content{
    width: 100%;
}
main .site-content .post-content .post-title{
    padding: 1rem 0;
    position: relative;
    margin-top: 2rem;
}
main .site-content .post-content .post-image .post-info{
    background: lightsalmon;
    padding: .2rem;
    position: absolute;
    border-radius: 2rem;
}
main .site-content .post-content .post-image div{
    overflow: hidden;
}
main .site-content .post-content .post-image .img{
    width: 100%;
    transition: all 1s ease-out;
}
main .site-content .post-content .post-image .img:hover{
       transform: scale(1.1);
       cursor: pointer;
}
main .site-content .post-content .post-image .post-info span{
    margin: .2rem;
}
main .post-content .post-title a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.site-content .post-content .post-title .post-btn{
    background: lightsalmon;
}

.site-content .page{
    justify-content: center;
    margin: 3rem 0;
}
.site-content .page a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: Anton;
}
  
.site-content .page .pages{
    background: darkslategray;
    color: white;
}
/*Sidebar Content*/

.site-content .sidebar .category-list{
    font-family: Oswald;
}
.site-content .sidebar .category .cat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0rem 2.5rem;
}
.site-content .sidebar .category-list .list-items{
    background: lightblue;
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
}
.site-content .sidebar .popular-post h2{
    padding-top: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem 2.5rem;
}
.site-content .sidebar .popular-post .pi,.pt{
    width: 90%; 
    margin: 0 2.5rem;
}
.site-content .sidebar .popular-post .pt{
    margin: 1rem 2.5rem;
    font-size: 0.8rem;
}
.site-content .sidebar .popular-post .pi .edit{
    font-size: .6rem;
}
.site-content .sidebar .newsletter .form .bt{
    background: red;
    outline: none;
    margin: 0 2.5rem;
    border-radius: 0%;
    border: 0;
    color: white;
}
.site-content .sidebar .newsletter h2{
    padding-top: 7rem;
    margin: 0 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.site-content .sidebar .newsletter .form .ip{
    margin: 2rem 2.5rem;
    width: 90%;
    padding: .7rem .3rem;
}

.site-content .sidebar .popular-tags h2{
    padding-top: 7rem;
    margin: 0 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.site-content .sidebar .popular-tags .tags{
    margin: 1rem 2.5rem;
}
.site-content .sidebar .popular-tags .tags .tag{
    background: lightblue;
    padding: .4rem 1rem;
    border-radius: 2rem;
    margin: .4rem 1rem;
}
/*End of Sidebar Content*/
/*End site content*/

/*End main*/

/*Footer*/

footer.footer{
    height: 100%;
    background: black;
    position: relative;
}
footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem 1rem;
}
footer.footer .container p{
    color:darkgray;
}
footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    display: inline-block;
}
footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    font-size: 1rem;
    width: 72%;
    outline-color: lightblue;
}
footer.footer .newsletter .form-element span{
    background: lightblue;
    padding: .5rem .7rem;
    cursor: pointer;
    position: absolute;
}
footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}
footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}
footer.footer .follow .facebook:hover{
    color: blue;
    cursor: pointer;
}
footer.footer .follow .twitter:hover{
    color: blue;
    cursor: pointer;
}
footer.footer .follow .insta:hover{
    color: rgb(189, 72, 72);
    cursor: pointer;
}
footer.footer .follow .youtube:hover{
    color: red;
    cursor: pointer;
}
footer.footer .rights{
    justify-content: center;
    color: darkgrey;
}
footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}
footer.footer .move-up span{
    color: darkgrey;
}
footer.footer .move-up span:hover{
    color: lightblue;
    cursor: pointer;
}
/*End Footer*/

@media only screen and (max-width: 1130px){
    footer.footer .container{
        grid-template-columns: repeat(2,1fr);
    }
}

 @media only screen and (max-width: 750px){
    
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    .nav .toggle-collapse .toggle-icons i{
        color: whitesmoke;
    } 
    main .site-content{
        grid-template-columns: 100%;
    }
 }
 @media only screen and (max-width: 520px){
     .site-content .post-content .post-image .post-info{
         font-size: .6rem;
     }
     footer.footer .container{
         grid-template-columns: repeat(1,1fr);
     }
     footer .rights{
         padding: 0 1.4rem;
         text-align: center;
     }
     .site-content .sidebar .newsletter .form .ip{
        margin: 2rem 2.5rem;
        width: 75%;
        padding: .7rem .3rem;
    }
 }

 @media only screen and (max-width: 240px){
    .site-content .post-content .post-image .post-info{
       display: none;
    }
    .site-content .sidebar .newsletter .form .ip{
        margin: 2rem 2.5rem;
        width: 40%;
        padding: .7rem .3rem;
    }
    .site-content .sidebar .newsletter .form .bt{
        width: 50%;
       font-size: 50%;
    }
}